<html lang="eng" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>Emp</title>
<style>
input {
	width: 100%;
	background: transparent;
	/*   border: 0;
         outline: 0; */
	padding: 5px;
}

.formgroup {
	padding: 20px;
	margin-left: 20px;
}

.cardbody {
	background-color: yellow;
}

.card {
	width: 100%;
	margin: 100px;
}

.btn {
	/* flex-basis: 38%; */
	/*       background-color: green; */
	color: white;
	height: 40px;
	width: 50%;
	margin-left: 120px;
}
</style>


<!-- Bootstrap CSS -->

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-2">
				<div class="card">
					<div class="cardbody">
					  <h4 class="text-center text-primary">EditEmp</h4>

						<form th:action="@{/update}" method="post" th:object="${emp}">
						
						    <input type="hidden" th:value="${emp.id}" name="id">
						    
							<div class="formgroup">
								<input type="text" placeholder="Enter Full Name" name="name" th:value="${emp.name}">
							</div>

							<div class="formgroup">
								<input type="text" placeholder="Enter your Address"
									name="address" th:value="${emp. address}">
							</div>

							<div class="formgroup">
								<input type="email" placeholder="Enter your Email" name="email" th:value="${emp.email}" >
							</div>

							<div class="formgroup">
								<input type="number" placeholder="Enter your Phone Number"
									name="phone" th:value="${emp.phone }">
							</div>
							<div class="formgroup">
								<input type="text" placeholder="Enter your Salary" name="salary" th:value="${emp.salary}">
							</div>

							<div class="btn">
								<button class="btn-primary btn-block">submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>


</html>






